<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Lista dei corsi</h1>
                <p class="lead boxed ">Esplora la lista dei nostri fantastici corsi</p>
                <p class="lead">
                     
                </p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
    </section><!-- End sub-header -->
    
    
    <section id="main_content" >
    	<div class="container">
        
        <ol class="breadcrumb">
          <li><a href="Home">Home</a></li>
          <li class="active">Lista corsi</li>
        </ol>
        
        <div class="row">
        
        <aside class="col-lg-3 col-md-4 col-sm-4">
            <div class="box_style_1">
                
              
            <ul class="submenu-col">
                <li><a href="listcorsi">Tutti i corsi</a></li>
                <br>
                <h4>Corsi di laurea Triennale</h4>
                <div id="cdl">
                    {{#cdl}}
                    <li><a href="DetailsCorsoCdl?n=${cdl.IDCDL}&lin=it">{{#nome_it}}{{nome_it}}{{/nome_it}}{{^nome_it}}{{nome_en}}{{/nome_it}}</a></li>
                    {{/cdl}}
                </div>

                
                <h4>Corsi di laurea Magistrale</h4>  
                <div id="cdlm">
                    {{#cdlm}}
                    <li><a href="DetailsCorsoCdl?n=${cdlm.IDCDL}&lin=it">{{#nome_it}}{{nome_it}}{{/nome_it}}{{^nome_it}}{{nome_en}}{{/nome_it}}</a></li>
                    {{/cdlm}}
                </div>

            </ul>
            
                <hr>
            </div>
        </aside>
        
        <div class="col-lg-9 col-md-8 col-sm-8">
       
            <h3 align="center">Tutti i corsi</h3>
            <p></p>

                <div class="panel panel-info filterable add_bottom_45">
                    <div class="panel-heading">
                        <h3 class="panel-title">Corsi</h3>
                        <div class="pull-right">
                            <button class="btn-filter"><span class="icon-th-list"></span>Filtri</button>
                        </div>
                    </div>
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr class="filters">
                                
                                <th><input type="text" class="form-control" placeholder="Nome" disabled></th>
                                <th><input type="text" class="form-control" placeholder="SSD" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="CFU" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="Lingua" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="Semestre" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="Tipologia" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="CDL" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="Docenti" disabled ></th>
                            </tr>
                        </thead>
                        <tbody id="courses">
                        <!--    {{#corso}}
                            <tr>
                                
                                <td><strong><a href="DetailsCorso?n=${corso.ID}&lin=it">{{#nome_it}}{{nome_it}}{{/nome_it}}{{^nome_it}}{{nome_en}}{{/nome_it}}</a></strong></td>
                                <td>{{ssd}}</td>
                                <td>{{cfu}}</td>
                                <td>{{lingua}}</td>
                                <td>{{semestre}}</td>
                                <td>{{tipologia}}</td>
                                <td><#list corso.CDL as cdl>
                                    <#if cdl.abbr_it?trim?has_content>${cdl.abbr_it}<#else>${cdl.abbr_en}</#if><#if cdl?has_next>,&nbsp&nbsp</#if>
                                </#list></td>
                                <td><#list corso.docenti as docenti>
                                    ${docenti.cognome}<#if docenti?has_next>,&nbsp&nbsp</#if>
                                </#list></td>
                            </tr>
                           {{/corso}}-->
        
                        </tbody>
                </table>
                </div><!-- End filterable -->
                    
      
 
        </div><!-- End col-lg-9-->                        
        </div><!-- End row -->
        
        <hr>
       
            	
        </div><!-- End container -->
    </section><!-- End main_content -->

