
<footer>
            <hr>

            <div class="container" id="nav-footer">
                <div class="row text-left">
                    <div class="col-md-4 col-sm-4">
                        <h4>Browse</h4>
                        <ul>
                            <li>
                                <a href="listcorsi">Corsi</a>
                            </li>
                            <li>
                                <a href="listdocenti">Insegnanti</a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- End col-md-4 -->
                    <div class="col-md-4 col-sm-4">
                        <h4>Next Courses</h4>
                        <ul>
                            <li>
                                <a href="listcorsi">Tutti i corsi</a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- End col-md-4 -->
                    <div class="col-md-4 col-sm-4">
                        <h4>About Learn</h4>
                        <ul>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Apply</a>
                            </li>
                            <li>
                                <a href="#">Terms and conditions</a>
                            </li>
                            <li>
                                <a href="#">Register</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End col-md-4 -->
                    
                    <!-- End col-md-4 -->
                </div>
                <!-- End row -->
            </div>
            <div id="copy_right">Page compiled on ${compiled_on?datetime}</div>
        </footer>

        










        
